* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This is used to give a visual height*/
  background-color: #fff;
}


.signup-wrapper {
  height: 100vh;
  width: 100%;
  background: url("/static/images/speaker-5.avif");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.motto {
  display: flex;
  justify-content: start;
  align-items: center;
}

.motto-words {
  font-family: 'Pacifico', cursive;
  font-weight: 700;
  line-height: 20px;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 19px;
  color: #ffd001;
}

.shadow-wrap {
  margin: 20px;
  display: flex;
  max-height: 650px;
  flex-direction: row;
  border-radius: 20px;
  background-color: rgba(235, 73, 9, 0.884);
  padding: 20px;
}

.kwik-logo {
  display: flex;
  height: 70px;
  width: 100px;
}

.welcome-message {
  margin-bottom: 15px;
  line-height: 35px;
  font-weight: 700;
}

.form-wrap {
  background-color: rgba(228, 139, 6, 0.932);
  max-width: 400px;
  display: inline-block;
  padding: 50px;
  align-items: center;
  border-radius: 15px;
}

.form-wrap form {
  display: block;
  width: 100%;
}

.emailfield,
.passwordfield {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.emailfield {
  margin-right: 29px;
}

.form-wrap form input {
  padding: 12px 20px;
  border-radius: 5px;
  border-color: #be6702;
  margin-bottom: 10px;
  border: 2px solid rgb(255, 238, 0);
  background-color: rgb(233, 231, 231);
  color: #be6702;
} 

#id_username {
  margin-bottom: 30px;
}

.form-wrap button {
  border-radius: 10px; 
  background-color: #f8cc05;
  box-shadow: 2px 2px 0.3px rgb(250, 113, 2);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  padding: 12px 68px;
  font-weight: 700;
  border: none;
  line-height: 26px;
  margin-top: 15px;
}

.form-wrap button:hover{
  background-color: #091847;
  box-shadow: 2px 2px 0.3px gray;
  transition: 0.5s;
  opacity: 0.99;
}

.signup-link {
  color: #10182f;
  font-size: 15px;
  display: block;
  line-height: 25px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.login-link {
  color: #10182f;
  font-size: 15px;
  display: inline;
  line-height: 25px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.account {
  display: inline-block;
  margin-top: 10px;
}

.account-verification {
  display: inline-block;
  margin-top: 10px;
}

.signup,
.login {
  display: inline-block;
  color: #10182f;
  text-decoration: none;
  font-weight: 600;
}

.signup:hover,
.login:hover{
  color: #0b32b1;
  text-decoration: underline;
}

.form-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 3px;
  margin-bottom: 10px;
}

.emailfield1,
.first_namefield,
.last_namefield,
.pass1field,
.pass2field {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.emailfield1 {
  margin-right: 35px;
}

.pass1field {
  margin-right: 7px;
}
