{% extends 'base.html' %}

{% block content %}
<div class="shadow-wrap">
  <div class="form-wrap">
    <form class="login-form" method="POST">
      {% csrf_token %}
      <label class="emailfield">Email:</label>
      <input type="email" name="username" required><br>

      <label class="passwordfield">Password:</label>
      <input type="password" name="password" required><br>
      <button class="form-button" type="submit">
      Login
      </button><br>
    </form>                                                                                                                                                                               
    <h4 class="account-verification">Don't have an account?</h4>
    <a href="{% url 'users:signup' %}" class="signup">Signup</a>
  </div>
  
</div>
  

{% endblock content %}