{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kwik Speak</title>
  <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>
<body>
  <div class="header">                                                                                                                                                                                         

  </div>

  <div class="logo">

  </div>

  <div class="content">
    <div class="communication-tips">
      <div class="bookmarks">

      </div>

      <div class="speech-info">
        <div class="info">

        </div>

        <div class="info">

        </div>
        
        <div class="info">

        </div>

      </div>

    </div>

    <div class="orators">
      <div class="speaker-image">

      </div>

      <div class="wise-words">

      </div>

    </div>

  </div>

  <div class="rights-reserved">
    <a href="{% url 'login' %}">Login</a>
    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>

  </div>
  
</body>
</html>

{% endblock content %}