{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/lessons.css' %}">

<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-content">
      <h1>Unlock Your Speaking Potentials</h1>
      <p>Choose a lesson format that fits your style</p>
      <form class="button" method="POST" action="{% url 'users:signup' %}">
        {% csrf_token %}
        <button class="unlock-button">
        Unlock it Today
        </button>
      </form>
  </div>
  <div class="hero">
    <img src="{% static 'images/speaker-3.webp' %}" alt="Speaker Image" class="hero-image">
  </div>
</section>

<!-- Lesson Categories -->
<section class="lesson-section">
  <div class="lesson-buttons">
    <button class="category-btn active">Video Lessons</button>
    <button class="category-btn">Reading Lessons</button>
    <button class="category-btn">Practice Exercise</button>
  </div>

  <div class="lesson-grid">
    {% for lesson in lessons %}
    <div class="lesson-card">
      <img src="{{ lesson.image.url }}" alt="{{ lesson.title }}" class="lesson-image">
      <h3>{{ lesson.title }}</h3>
      <p>Content: {{ lesson.content}}</p>
      <p>Date: {{ lesson.created_at }}</p>
      {% for progress in progress %}
      {% if progress.is_completed %}
        <p class="completed">Completed</p>
      {% else %}
        <p class="incomplete">Lesson Incomplete</p>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>

<!-- Lesson Progress Sidebar -->
<section class="progress-section">
  <div class="progress-content">
    <h3>Lesson Progress</h3>
    <div class="progress-bar">
      <div class="progress-fill" style="width: {{ user_progress }}%;"></div>
    </div>
    <ul>
      <li>Last Viewed: {{ last_viewed }}</li>
      <li>Next to complete: {{ next_lesson }}</li>
    </ul>
    <blockquote>“You don't have to be perfect to speak — you just have to be brave enough to begin.”</blockquote>
  </div>
</section>

<!-- Newsletter Section -->
<section class="newsletter">
  <h2>Stay Updated</h2>
  <p>Signup to our Newsletter</p>
  <form action="#" method="post" class="newsletter-form">
    <input type="email" placeholder="Email address">
    <button type="submit">Subscribe</button>
  </form>
  <p>Join potential speakers today</p>
</section>

<!-- Footer -->


{% endblock content %}


<!-- <a href="{% url 'lessons:detail' lesson.slug %}" class="start-button">{% if lesson.progress %}Continue{% else %}Start{% endif %}</a> -->
