body {
  background: #5E2BFF; /* or full URL like 'https://example.com/image.jpg' */
  background-size: cover;      /* makes the image cover the whole page */
  background-position: center; /* centers the image */
  background-repeat: no-repeat; /* prevents tiling */
  min-height: 100vh;               /* ensures full viewport height */
  margin: 0;                   /* removes default body margin */
  padding-top: 50px;
  max-width: 100vw;
  overflow-x: hidden;

}




/* url('../images/Background/road-path.jpg') */

