/* static/css/navbar.css */

body {
  padding-top: 50px;
}




.logo {
  height: 100px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.kwik-logo1 {
  max-height: 230%;
  max-width: 300%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 10px;
  row-gap: 40px;
  width: 100%;
}

.communication-tips {
  background-color: purple;
  height: 100vh;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items:center;
  margin-top: 15px;

}


.orators {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: right;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  margin-top: 15px;
  margin-right: 0;
}

.rights-reserved {
  background-color: lightgreen;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 60px;
  margin-left: 0;
  margin-bottom: 4px;
}

.speech-info {
  background-color: blue;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: -10px;
}


/* .bookmarks {
  background-color: lightblue;
  height: 580px;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
} */

.speaker-image {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.speaker {
  display: flex;
  max-width: 70%;
  aspect-ratio: 1 / 1;
  margin-top: -30px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.wise-words-wrapper{
  width: 80%;
  background-color: rgb(247, 211, 11);
  display: flex;
  max-height: 80%;
  align-items: center;
  height: auto;
  max-width: 90%;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 15px;
  padding: 10px;
}


.wise-words {
  background-color: rgb(29, 138, 240);
  max-height: 80%;
  height: auto;
  display: flex;
  max-width: 90%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 15px;
  padding: 10px;
}

.theword {
  font-family: Mulish, sans-serif;
  font-weight: 700;
  color: rgb(51, 50, 49);
}

.info {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-header {
  font-family: Roboto, Arial;
  font-weight: 600;
  font-size: 18px;
}

.info-message {
}











.bottom {
  margin-bottom: 1000px;
}