/* static/css/navbar.css */

.header {
  background-color: blue;
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: right;
  flex: 1;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 4px;
}

.loginout-page {
  display: flex;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  border-width: 2px;
  justify-content: right;
  align-items: center;
  margin: 5px;
}

.loginhome,
.logouthome {
  font-weight: 700;
  border: none;
  text-decoration: none;
  color: black;
  line-height: 20px;
}

.loginhome:hover,
.logouthome:hover {
  color: yellow;
  text-decoration: underline;
  transition: 0.2s;
}

.loginhome {
  padding-right: 5px;
}

.logouthome {
  background-color: transparent;
  cursor: pointer;
}

.logo {
  background-color: green;
  height: 100px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 10px;
  row-gap: 40px;
  width: 100%;
}

.communication-tips {
  background-color: purple;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  column-gap: 10px;
  flex-direction: row;
  justify-content: left;
  align-items: start;
  margin-top: 15px;
}

.orators {
  background-color: grey;
  width: 100%;
  height: auto;
  display: grid;
  justify-content: right;
  grid-template-columns: 1fr;
  flex-direction: column;
  align-items: start;
  margin-top: 15px;
  margin-right: 0;
}

.rights-reserved {
  background-color: lightgreen;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 25px;
  margin-left: 0;
  margin-bottom: 4px;
}

.speech-info {
  background-color: blue;
  height: 580px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
}

.bookmarks {
  background-color: lightblue;
  height: 580px;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.speaker-image {
  background-color: red;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.speaker {
  display: flex;
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.wise-words {
  background-color: lightblue;
  height: 60%;
  display: flex;
  flex-direction: row;
  margin-top: 125px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.info {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: start;
  column-gap: 5px;
  row-gap: 5px;
  height: 40%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}