<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kwik Speak</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body class="speak-home">
  <div class="landing-page">
    
    <header>
      <!-- <nav>
        <ul class="nav_links">
          <li><a href="#">Lessons</a></li>
          <li><a href="#">Quizzes</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
      <a class="cta" href="#"><button>contact</button></a>
    </header> -->

   

      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
        <a class="navbar-brand" href="#">KwikSpeak</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>                                                                                                                                       
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Learn
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Lessons</a></li>
                <li><a class="dropdown-item" href="#">Quizzes</a></li>
              </ul>
            </li>
          </ul>
          <div class="d-flex">
            <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
            <a href="{% url 'register' %}" class="btn btn-warning">Register</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="female-speaker">
      <img class="woman-speaker" src="images/speaker 1.jpg" alt="not found">
    </div>

  </div>
  
</body>
</html>