{% extends 'base.html' %}

{% block content %}
<div class="shadow-wrap">
  <div class="form-wrap">
    <form class="login-form" method="POST">
      {% csrf_token %}
      {{form}}
      <button class="form-button">
      Login
      </button>
    </form>                                                                                                                                                                               
    <h4 class="account-verification">Don't have an account?</h4>
    <a href="{% url 'baseapp:signup' %}" class="signup">Signup</a>
  </div>
  
</div>
  

{% endblock content %}