/* static/css/navbar.css */

.header {
  background-color: blue;
  width: 1330px;
  height: 40px;
  display: block;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 4px;
}

.logo {
  background-color: green;
  width: 300px;
  height: 100px;
  display: block;
  margin-left: 540px;
}

.communication-tips {
  background-color: purple;
  width: 800px;
  height: 600px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 0;
  margin-right: 15px;
}

.orators {
  background-color: grey;
  width: 500px;
  height: 600px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 0;
}

.rights-reserved {
  background-color: red;
  width: 1330px;
  height: 40px;
  display: block;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 4px;
}